version: '2'

services:
  # Cassandra
  cassandra:
    image: maryville/skilldirectorycassandra:master
    restart: always
    volumes:
      - ./data/cassandra-1:/var/lib/cassandra:rw
    container_name: cassandra_container
    expose:
      - "9042"
    ports:
      - "9042:9042"

  # SkillDirectory
  backend:
    image: maryville/skilldirectory:master
    restart: always
    container_name: skilldirectory_container
    volumes:
      - /skilldirectory/dev:/skilldirectory/dev:rw
    environment:
       CASSANDRA_URL: "cassandra"
       CASSANDRA_PORT: 9042
       CASSANDRA_KEYSPACE: "skill_directory_keyspace"
       CASSANDRA_USERNAME: "${CASSANDRA_USERNAME}"
       CASSANDRA_PASSWORD: "${CASSANDRA_PASSWORD}"
       FILE_SYSTEM: "${FILE_SYSTEM}"
    expose:
       - "8080"
       - "2121"
    ports:
       - "8080:8080"
       - "2121:2121"

  # SkillDirectory Tester
  backend-tester:
    image: maryville/skilldirectory-tester:master
    container_name: skilldirectory_tester
    environment:
        API: "http://backend:8080"
        SLACK_HOOK: "${SLACK_HOOK}"
        SLACK_TOKEN: "${SLACK_TOKEN}"

  # SkillDirectory UI
  web:
    image: maryville/skilldirectoryui:master
    restart: always
    container_name: skilldirectory_ui
    expose:
      - "9000"
    ports:
      - "8000:9000"
    environment:
      API: "${API}"
    command:
      "/bin/bash ./buildUI"
