version: '2'

services:
  # Cassandra
  cassandra:
    image: maryville/skilldirectorycassandra:dev
    container_name: cassandra_container
    expose:
      - "9042"
    ports:
      - "9042:9042"
    restart: always

  # SkillDirectory
  backend:
    image: maryville/skilldirectory:master
    restart: always
    container_name: skilldirectory_container
    environment:
       CASSANDRA_URL: "cassandra"
       CASSANDRA_PORT: 9042
       CASSANDRA_KEYSPACE: "skill_directory_keyspace"
       CASSANDRA_USERNAME: "${CASSANDRA_USERNAME}"
       CASSANDRA_PASSWORD: "${CASSANDRA_PASSWORD}"
    expose:
       - "8080"
    ports:
       - "8080:8080"


  web:
    image: maryville/skilldirectoryui:master
    restart: always
    container_name: skilldirectory_ui
    expose:
      - "9000"
    ports:
      - "8000:9000"
    environment:
      API: "${API}"
    command:
      "/bin/bash ./buildUI"
